<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/bootstrap">
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body class="bg-warning text-dark">

    <navbar th:include="fragments/navbar"></navbar>

    <div class="container-fluid font-italic">
        <div th:if="${noBooksFound}">
            <h3>Sorry, no books currently on your list.</h3>
        </div>

        <div class="card text-dark bg-info mb-3 font-italic" style="max-width: 18rem;">
            <div class="card-header">My Favorite Books</div>
            <div th:each="book : ${books}" class="card-body text-dark font-italic">
                <h3 th:text="${book.title}"></h3>
                <h3 th:text="${book.author}"></h3>
                <h3 th:text="${book.genre}"></h3>
                <h3 th:text="${book.releaseDate}"></h3>

                <button class="bg-warning text-dark"><a th:href="'/books/' + ${book.id} + '/edit'"class="text-dark font-italic">Edit Info</a></button>
                <hr>
            </div>
        </div>


    <button class="btn btn-info"><a href="/books/create"class="text-dark font-italic">List a Book</a></button>
    </div>

    <br>


</body>
</html>
