<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/bootstrap">
    <meta charset="UTF-8">
    <title>View Book</title>
</head>
<body class="bg-warning text-dark">

    <h1>View Book</h1>

    <div class="container-fluid font-italic">

        <h3>Title: <span th:text="${showBook.title}"></span></h3>

        <h3>Author: <span th:text="${showBook.author}"></span></h3>

        <h3>Genre: <span th:text="${showBook.genre}"></span></h3>

        <h3>Release Date: <span th:text="${showBook.releaseDate}"></span></h3>

    </div>

    <button><a href="/books">Back to Home</a></button>


</body>
</html>
