<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/bootstrap">
    <meta charset="UTF-8">
    <title>Ads</title>
</head>
<body class="bg-secondary font-italic text-light">

    <div class="container-fluid">

    <h1>Spring Boot Ads Application</h1>

    <!--  conditional if no ads are in the list -->
      <div th:if="${noAdsFound}">
        <h3>No Ads were found</h3>
      </div>

    <!--  List out the ads in the list -->
      <div th:each="ad : ${ads}">
        <h3 th:text="${ad.title}"></h3>

        <p th:text="${ad.description}"></p>

          <button class="btn btn-light"><a class="text-dark font-italic" th:href="'/ads/' + ${ad.id} + '/edit'">Edit</a></button>
          <hr>
      </div>

        <button class="btn btn-light"><a class="text-dark font-italic" href="/ads/create">Create an Ad</a></button>

    </div>



</body>
</html>
