<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/bootstrap">
    <meta charset="UTF-8">
    <title>View Ad</title>
</head>
<body>

  <h1>View Ad</h1>

  <div class="container">

    <h3>Title: <span th:text="${showAd.title}"></span></h3>

    <p>Description: <span th:text="${showAd.description}"></span></p>

  </div>

  <a href="/ads">Back to List</a>

</body>
</html>
