<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Data View</title>
</head>
<body>

  <h1>Hello, <span th:text="${displayName}">World</span></h1>
<!--  th:text="${displayName}" using tymeleaf to display data *** th = thymeleaf *** -->


</body>
</html>
