<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Data 2 View</title>
</head>
<body>

  <h1>Hello, <span th: th:text="${displayName}">World</span></h1>
<!-- th:text="${displayName}" using thymeleaf to display data-->

</body>
</html>
