<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Join View 2</title>
</head>
<body>

  <h1 th:text="${practice}"></h1>

  <form action="/join2"method="post">
    <input type="text" name="practice">
    <button>Enter</button>
  </form>

</body>
</html>
